@import '~antd/dist/antd.css';

$spacer: 8px;

.App {
  text-align: center;
}

.mr-15 {
  margin-right: 15px;
}

@for $i from 0 through 5 {
  .mt-#{$i} { margin-top: $spacer * $i; }
}

.ant-select-selection-placeholder {
  color: unset;
}
